@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fcf7f1;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.review-panel {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
}

strong {
  max-width: 300px;
  display: inline-block;
  font-weight: 500;
  line-height: 20px;
}

.rating {
  display: inline-block;
  text-align: center;
  padding: 25px 0;
  width: 120px;
  margin: 40px 5px;
  cursor: pointer;
  border-radius: 5px;
}

.rating:hover,
.rating.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.rating img {
  width: 50px;
  display: block;
  margin: 0 auto 15px;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.submit-btn {
  font-family: inherit;
  background-color: #333;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:focus {
  outline: none;
}

.submit-btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}